*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 2, 54)) center fixed;
}
#fundo{
    width: 520px;
    height: 340px;
    margin-left: -10px;
    margin-top: -35px;   
}
#logo{
    height: 135px;
    width: 135px;
    position: absolute;
}
#divlogo{
    background-color: rgba(0, 2, 78, 70%);
    height: 135px;
    width: 135px;
    position: absolute;
    margin-top: -18.1em;
    margin-left: 50mm;
    border-radius: 100px;
}
h2{
    color: white;
    font-family: sans-serif;
    font-size: 2.6em;
    margin-left: 45px;
    margin-top: 38px;
}
#video{
    width: 390px;
    margin-left: 65px; 
    margin-top: 2%;
}
#cont{
    width: 515px;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 2, 54));
    margin-top: -8.3em;
    margin-left: -5px;
    position: absolute;  
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
p{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 3px;
    margin: 30px;
    text-align: justify;
}
#botao{
    font-size: 1.4em;
    font-weight: bold;
    width: 9em;
    height: 3em;
    background: yellow;
    position: absolute;
    margin-left: 32%;
    margin-top: 4%;
    border: none;
    box-shadow: 0px 0px 16px 2px rgba(255, 255, 0, 0.5);
    border-radius: 50px;
}
#facebook{
    margin-left: 2.5em;
    font-size: 55px;
    position: absolute;
    color: white;
    margin-top: -15%;
}
#twitter{
    margin-left: 3.8em;
    font-size: 55px;
    position: absolute;
    color: white;
    margin-top: -15%;
}
#instagram{
    margin-left: 5.1em;
    font-size: 55px;
    position: absolute;
    color: white;
    margin-top: -15%;
}
#whatsapp{
    margin-left: 6.3em;
    font-size: 55px;
    position: absolute;
    color: white;
    margin-top: -15%;
}
.ass{
    font-size: 22px;
    margin-top: 60%;
    text-align: center;
}

/* TABLET */
@media (min-width: 480px){
    #fundo{
        height: 100vh;
        display: flex;
        justify-content: center; /* Centralizar o conteúdo na linha, ou seja, horizontalmente */
        align-items: center; /* Centralizar o conteúdo verticalmente */
        color: #eee;
        background: url('/pczin.jpg') no-repeat center;  
    }
}
